:root {
    --primary: #e3c5c7;
    --dark-transluscent: #a36b64;
    --dark: #321e17;
    --btn-large: #a36b64;
    --card-bg: #bc93976b; 
    --card: #e3c5c7;
    font-family: 'Noto Sans JP', sans-serif;
}
article {
    line-height: 1.6rem;
}
a, a:visited {
    color: var(--card);
}

a:hover {
    color: #c7215e !important;
}


nav .btn {
    background: white;
}

.btn {
    background-color: #321e17 !important;
}

.headshot .card-content {
    color: #321e17;
}

nav ul a, nav ul a:visited {
    color: #ecd5cd
}
