@media screen and (max-width: 1024px) {
    .navbar {
        font-size: 2em;
        padding: 2rem;
    }
    nav img {
        width: 7em;
        text-align: center;
    }
    .card {
        width: 26em;
    }
}