
@media screen and (max-width: 1024px) {
    body {
        font-size: 1.5em;
        line-height: 1.5em;
    }
    /* begin navbar stuff */
    .navbar {
        width: 100%;
        position: fixed;
        z-index: 100;
        top: 3em;
        font-size: 1.6em;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        justify-content: space-around;
    }
    .desktop {
        /* Sets the desktop version of the navbar to not display on mobile */
        display: none;
    }
    .mobile {
        /* Sets the mobile navbar to display */
        display: flex;
    }
    #navbarSupportedContent {
        width: 80%;
    }
    .navbar-nav {
        flex-direction: row; /* forces the navlinks to display in row*/
        justify-content: space-between;
        padding-top: .25em;
        padding-bottom: .25em;
    }
    .mobile-logo-container {
        background-color: #343a40;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 100;
        align-content: center;
    }
    #mobile-image {
        width: 10em;
        padding-top: 1em;
        padding-bottom: 1em;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
    }
    .language-button {
        font-size: 0.5em;
    }
    /* end navbar stuff */

    .wrapper {
        margin-top: 11em;
    }

    /* Begin all card styles */
    .card {
        margin-left: auto;
        margin-right: auto;
        float: unset;
        background-color: rgba(255, 160, 122, 0.747);
        border: 4px;
        border-style: solid;
    }
    #bio-pic {
        /* Remember IDs always overwrite classes even if the class is
        in the next-in-line .css file. Have to reset width: auto in an ID for this
        card and the other cards*/
        width: auto;
    }
    #portfolio-card-container {
        display: unset;
        float: left;
    }
    .portfolio-card {
        width: auto;
        margin: 0em 1em 4em 1em;
    }
    .card p {
        font-size: 1.5em;
    }
    .card .btn {
        font-size: 2em;
    }

    /* FORM Styles */
    form {
        font-size: 2em;
        line-height: 150%;
    }
    .form-control {
        height: calc(5em + .75rem + 2px);
    }
    #message-input {
        height: calc(15em + .75rem + 2px);
    }

    /* Footer style */
    footer {
        position: relative;
    }

    /* JA specific styles */
    .card #name-ja {
        bottom: 2.4em;
    }
    p, p:lang(ja) {
        font-size: 2em;
        line-height: 2em;
    }
    #main-bio {
        float: left;
    }
    #menu-options {
        float: left;
    }

}