@media screen and (max-width: 1024px) {
    body {
        font-size: 1.5em;
        line-height: 1.5em;
    }
    nav img {
        width: 7em;
    }
    .navbar {
        font-size: 1.6em;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .card {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        float: unset;
    }
    .card p {
        font-size: 1.5em;
    }
    .card .btn {
        font-size: 2em;
    }
    .card #name-ja {
        bottom: 2.4em;
    }
    p, p:lang(ja) {
        font-size: 2em;
        line-height: 2em;
    }
    #main-bio {
        float: left;
    }
    #menu-options {
        float: left;
    }

}