body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 150%;
    background-color: #e9ecef;
    color: #333333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333333;
    margin-bottom: 1em;
}

h1 {    
    font-family: 'Nunito', sans-serif;
    font-size: 2.1em;
    color: #eee;
    padding: 20px 0;
    margin-bottom: 20px;
    margin: 0;
    text-align: center;
    background: #333;
}
h1 .japanese-font {
    font-size: .9em;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 1em;
}

.card {
    font-family: 'Nunito', sans-serif;
    float: left;
}
/* the button with my name on it */
#name, #name-jp {
    font-weight: bold;
    text-align: center;
    margin-bottom: .5em;
}
#name {
    position: relative;
    z-index: 3;
}
#name-jp {
    position: absolute;
    bottom: 7.8em;
    z-index: 1;
}
#name:active {
    visibility: hidden;
}

.container-fluid {
    float: left;
    padding-left: 0;
    padding-right: 0;
}

.japanese-font {
    font-family: 'Kosugi Maru', sans-serif;
    /* font-family: 'Sawarabi Mincho', sans-serif; */
}
#bio-pic {
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}
#main-bio {
    width: 70%;
}

#jp-bio {
    font-size: 24px;
}

#contact-info {
    width: 30%;
}  

#hidden {
    visibility: hidden;
}


  
