body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 150%;
    background-color: rgb(255, 245, 240) ;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    margin: 0;
    margin-bottom: 1em;
}

h1 {    
    font-family: 'Nunito', sans-serif;
    font-size: 2.1em;
    color: #eee;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
    background: #333;
}

h1 span:lang(ja) {
    font-size: .9em;
    font-weight: normal;
}

.container-fluid {
    padding: 0;
    margin: 0;
}
.row {
    margin: 0;
    padding: 0;
}
.col-md-12 {
    padding: 0;
}

.card {
    font-family: 'Nunito', sans-serif;
    float: left;
}

/* the button with my name on it */
#name, #name-jp {
    font-weight: 550;
    text-align: center;
    margin-bottom: .5em;
}
#name {
    position: relative;
    z-index: 3;
}
#name-jp {
    position: relative;
    bottom: 2.9em;
    z-index: 1;
    margin-bottom: -2em;
}
#name:active, #name:focus {
    opacity: 0;
}

#bio-pic {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    width: 22rem;
}
#main-bio {
    margin-top: 0;
}

p:lang(ja) {
    font-size: 24px;
}

#hidden {
    visibility: hidden;
}

#about-me {
    background-color: #333333;
    color: white;
    text-align: center;
    margin-bottom: 1em;
    border-radius: .5em;
}

:lang(ja) {
    font-family: 'Kosugi Maru', sans-serif;
}

  
