body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 150%;
    background-color: #efeee7;
    color: #333333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333333;
}
h1 {    
    font-size: 28px;
    color: #eee;
    padding: 20px 0;
    margin-bottom: 20px;
    margin: 0;
    text-align: center;
    background: #333;
}
h2 {
    font-size: 24px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}
.japanese-font {
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#main-bio,
#contact-info,
#bio-image {
    float: left;
}
a {
    color: #d21034;
}
#main-bio {
    width: 70%;
} 
#contact-info {
    width: 30%;
}  
#bio-image {
    width: auto;
    height: 200px;
    margin-right: 20px;
}
  
