body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 150%;
    background-color: #e9ecef;
    color: #333333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333333;
    margin-bottom: 1em;
}

h1 {    
    font-size: 2em;
    color: #eee;
    padding: 20px 0;
    margin-bottom: 20px;
    margin: 0;
    text-align: center;
    background: #333;
}
h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 1em;
}

h5 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.card {
    float: left;
}

.container-fluid {
    float: left;
    padding-left: 0;
    padding-right: 0;
}

.japanese-font {
    font-family: 'Kosugi Maru', sans-serif;
    /* font-family: 'Sawarabi Mincho', sans-serif; */
}
#bio-pic {
    margin-right: 2em;
    margin-bottom: 2em;
}
#main-bio {
    width: 70%;
}

#jp-bio {
    font-size: 24px;
}

#contact-info {
    width: 30%;
}  

#hidden {
    visibility: hidden;
}


  
